* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: white;
  color: black; }
  body.active {
    overflow-y: hidden; }

#header {
  position: fixed;
  height: 230px;
  top: -230px;
  width: 100%;
  background-color: inherit;
  transition: top 1s ease;
  z-index: 2; }
  #header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: url("../images/lines.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #header.active {
    top: 0; }
  #header #exit {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 2rem;
    cursor: pointer; }
    #header #exit:hover {
      opacity: 0.7; }
  #header #profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #header #profile img {
      width: 130px;
      border-radius: 50%;
      margin-bottom: 8px; }
      @media (max-width: 1600px) {
        #header #profile img {
          width: 110px; } }
      @media (max-width: 700px) {
        #header #profile img {
          width: 90px; } }
    #header #profile h2 {
      margin-bottom: 4px; }
    #header #profile p {
      opacity: 0.5; }

#footer {
  position: fixed;
  height: calc(100vh - 230px);
  bottom: calc(-100vh + 230px);
  width: 100%;
  background-color: inherit;
  transition: bottom 1s ease;
  z-index: 2;
  overflow-y: scroll;
  padding-bottom: 48px; }
  #footer.active {
    bottom: 0; }
  #footer #content {
    width: 1000px;
    padding-top: 48px;
    margin: 0 auto; }
    @media (max-width: 1600px) {
      #footer #content {
        width: 800px; } }
    @media (max-width: 1100px) {
      #footer #content {
        width: 600px; } }
    @media (max-width: 700px) {
      #footer #content {
        width: 80%; } }
    #footer #content .block {
      line-height: 1.7em;
      width: 80%;
      margin: 16px auto; }
      #footer #content .block.full {
        width: 100% !important; }
      #footer #content .block img {
        width: 100%;
        border-radius: 4px; }
      #footer #content .block .caption {
        color: rgba(0, 0, 0, 0.5);
        font-style: italic;
        font-size: 0.9em;
        margin: 6px auto;
        padding-left: 8px; }
      #footer #content .block iframe {
        width: 100%; }

.logo {
  width: 60%;
  margin: 24px auto;
  text-align: center; }
  .logo img {
    width: 300px; }

.topArea {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .topArea .filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    text-align: center; }
    @media (max-width: 986px) {
      .topArea .filter .group2 {
        margin-top: 24px; } }
    @media (max-width: 700px) {
      .topArea .filter {
        width: 80%;
        margin: 0 auto; }
        .topArea .filter .group1, .topArea .filter .group2 {
          margin: 0;
          width: 100%; }
          .topArea .filter .group1 button, .topArea .filter .group2 button {
            display: block;
            width: 100%;
            text-align: center;
            margin: 0 0 24px 0; }
        .topArea .filter .group2 button:last-of-type {
          margin-bottom: 0; } }
    .topArea .filter button {
      padding: 12px 24px;
      background-color: white;
      border-radius: 8px;
      color: black;
      margin: 0 24px;
      cursor: pointer;
      font-size: 1em;
      outline: none;
      position: relative;
      border: none;
      transition: background-color 0.5s ease, color 0.5s ease; }
      .topArea .filter button .buttonBorder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 8px;
        transition: 0.5s;
        pointer-events: none; }
      .topArea .filter button:hover .buttonBorder {
        border: 4px solid black; }
      .topArea .filter button#allBtn {
        color: #043673; }
        .topArea .filter button#allBtn .buttonBorder {
          border: 1px solid #043673; }
        .topArea .filter button#allBtn:hover .buttonBorder {
          border: 4px solid #043673; }
        .topArea .filter button#allBtn.active {
          background-color: #043673;
          color: white; }
      .topArea .filter button#graphicBtn {
        color: #df1d24; }
        .topArea .filter button#graphicBtn .buttonBorder {
          border: 1px solid #df1d24; }
        .topArea .filter button#graphicBtn:hover .buttonBorder {
          border: 4px solid #df1d24; }
        .topArea .filter button#graphicBtn.active {
          background-color: #df1d24;
          color: white; }
      .topArea .filter button#gameBtn {
        color: #e3a6c2; }
        .topArea .filter button#gameBtn .buttonBorder {
          border: 1px solid #e3a6c2; }
        .topArea .filter button#gameBtn:hover .buttonBorder {
          border: 4px solid #e3a6c2; }
        .topArea .filter button#gameBtn.active {
          background-color: #e3a6c2;
          color: white; }
      .topArea .filter button#webBtn {
        color: #db8b2d; }
        .topArea .filter button#webBtn .buttonBorder {
          border: 1px solid #db8b2d; }
        .topArea .filter button#webBtn:hover .buttonBorder {
          border: 4px solid #db8b2d; }
        .topArea .filter button#webBtn.active {
          background-color: #db8b2d;
          color: white; }
      .topArea .filter button.active .buttonBorder {
        border: none; }

.container {
  margin: 24px auto;
  width: 1600px;
  height: 100%; }
  @media (max-width: 1600px) {
    .container {
      width: 1100px; } }
  @media (max-width: 1100px) {
    .container {
      width: 700px; } }
  @media (max-width: 700px) {
    .container {
      width: 500px; } }
  @media (max-width: 500px) {
    .container {
      width: 96%; } }
  .container #students {
    display: flex;
    flex-wrap: wrap; }
    .container #students.active {
      overflow: hidden; }
    .container #students .card {
      position: relative;
      width: calc((100% / 4) - 24px);
      margin: 12px;
      cursor: pointer;
      padding: 16px;
      border-radius: 8px;
      background-color: #f2f2f2; }
      @media (max-width: 1600px) {
        .container #students .card {
          width: calc((100% / 3) - 24px); } }
      @media (max-width: 1100px) {
        .container #students .card {
          width: calc((100% / 2) - 24px); } }
      @media (max-width: 700px) {
        .container #students .card {
          width: calc(100% - 24px); } }
      .container #students .card .cardContent {
        display: flex;
        align-items: center; }
        .container #students .card .cardContent img {
          width: 120px;
          border-radius: 50%; }
          @media (max-width: 1600px) {
            .container #students .card .cardContent img {
              width: 100px; } }
          @media (max-width: 1100px) {
            .container #students .card .cardContent img {
              width: 70px; } }
        .container #students .card .cardContent .cardText {
          margin-left: 24px; }
      .container #students .card .cardBorder {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        border: 0 solid transparent;
        transition: border 0.5s ease;
        border-radius: 8px; }
      .container #students .card.web:hover .cardBorder {
        border: 3px solid #db8b2d; }
      .container #students .card.graphic:hover .cardBorder {
        border: 3px solid #df1d24; }
      .container #students .card.game:hover .cardBorder {
        border: 3px solid #e3a6c2; }
    .container #students #studentError {
      width: 100%;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
