$viewBreakPoint1: 1600px;
$viewBreakPoint2: 1100px;
$viewBreakPoint3: 700px;
$viewBreakPoint4: 500px;

$cardMargin: 24px;

$webColor: rgb(219, 139, 45);
$graphicColor: rgb(223, 29, 36);
$gameColor: rgb(227, 166, 194);

// $background: #222;
// $backgroundCard: lighten($background, 5%);
// $textColor: white;
$background: white;
$backgroundCard: darken($background, 5%);
$textColor: black;

$headerAmount: 230px;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: $background;
	color: $textColor;
	&.active {
		overflow-y: hidden;
	}
}

#header {
	position: fixed;
	height: $headerAmount;
	top: -$headerAmount;
	width: 100%;
	background-color: inherit;
	transition: top 1s ease;
	z-index: 2;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		background-image: url('../images/lines.gif');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.active {
		top: 0;
	}
	#exit {
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		font-size: 2rem;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
	}
	#profile {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		img {
			width: 130px;
			border-radius: 50%;
			margin-bottom: 8px;
			@media (max-width: $viewBreakPoint1) {
				width: 110px;
			}
			@media (max-width: $viewBreakPoint3) {
				width: 90px;
			}
		}
		h2 {
			margin-bottom: 4px;
		}
		p {
			opacity: 0.5;
		}
	}
}

#footer {
	position: fixed;
	height: calc(100vh - #{$headerAmount});
	bottom: calc(-100vh + #{$headerAmount});
	width: 100%;
	background-color: inherit;
	transition: bottom 1s ease;
	z-index: 2;
	overflow-y: scroll;
	padding-bottom: 48px;
	&.active {
		bottom: 0;
	}
	#content {
		width: 1000px;
		@media (max-width: $viewBreakPoint1) {
			width: 800px;
		}
		@media (max-width: $viewBreakPoint2) {
			width: 600px;
		}
		@media (max-width: $viewBreakPoint3) {
			width: 80%;
		}
		padding-top: 48px;
		margin: 0 auto;
		.block {
			line-height: 1.7em;
			width: 80%;
			margin: 16px auto;
			&.full {
				width: 100% !important;
			}
			img {
				width: 100%;
				border-radius: 4px;
			}
			.caption {
				color: rgba(white, 0.50);
				font-style: italic;
				font-size: 0.9em;
				margin: 6px auto;
				padding-left: 8px;
			}
			iframe {
				width: 100%;
			}
		}
	}
}

.logo {
	width: 60%;
	margin: 24px auto;
	text-align: center;
	img {
		width: 300px;
	}
}

.topArea {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	.filter {
		margin-bottom: 24px;
		text-align: center;
		@media (max-width: 754px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			button {
				margin: 12px 24px !important;
			}
		}
		button {
			padding: 12px 24px;
			@media (max-width: 828px) {
				padding: 12px;
			}
			background-color: $background;
			border-radius: 8px;
			color: $textColor;
			margin: 0 24px;
			cursor: pointer;
			font-size: 1em;
			outline: none;
			position: relative;
			border: none;
			transition: background-color 0.5s ease, color 0.5s ease;
			.buttonBorder {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid $textColor;
				border-radius: 8px;
				transition: 0.5s;
				pointer-events: none;
			}
			&:hover .buttonBorder {
				border: 4px solid $textColor;
			}
			&#graphicBtn.active {
				background-color: $graphicColor;
			}
			&#gameBtn.active {
				background-color: $gameColor;
			}
			&#webBtn.active {
				background-color: $webColor;
			}
			&.active {
				color: white;
				.buttonBorder {
					border: none;
				}
			}
		}
	}
}

.container {
	margin: 24px auto;
	width: 1600px;
	height: 100%;
	@media (max-width: $viewBreakPoint1) {
		width: $viewBreakPoint2;
	}
	@media (max-width: $viewBreakPoint2) {
		width: $viewBreakPoint3;
	}
	@media (max-width: $viewBreakPoint3) {
		width: $viewBreakPoint4;
	}
	@media (max-width: $viewBreakPoint4) {
		width: 96%;
	}

	#students {
		display: flex;
		flex-wrap: wrap;
		&.active {
			overflow: hidden;
		}
		.card {
			position: relative;
			width: calc((100% / 4) - #{$cardMargin});
			margin: ($cardMargin / 2);
			cursor: pointer;
			padding: 16px;
			border-radius: 8px;
			background-color: $backgroundCard;
			@media (max-width: $viewBreakPoint1) {
				width: calc((100% / 3) - #{$cardMargin});
			}
			@media (max-width: $viewBreakPoint2) {
				width: calc((100% / 2) - #{$cardMargin});
			}
			@media (max-width: $viewBreakPoint3) {
				width: calc(100% - #{$cardMargin});
			}
			.cardContent {
				display: flex;
				align-items: center;
				img {
					width: 120px;
					@media (max-width: $viewBreakPoint1) {
						width: 100px;
					}
					@media (max-width: $viewBreakPoint2) {
						width: 70px;
					}
					border-radius: 50%;
				}
				.cardText {
					margin-left: 24px;
				}
			}
			.cardBorder {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				pointer-events: none;
				border: 0 solid transparent;
				transition: border 0.5s ease;
				border-radius: 8px;
			}
			&.web:hover .cardBorder{
				border: 3px solid $webColor;
			}
			&.graphic:hover .cardBorder{
				border: 3px solid $graphicColor;
			}
			&.game:hover .cardBorder{
				border: 3px solid $gameColor;
			}
		}
		#studentError {
			width: 100%;
			text-align: center;
		}
	}
}
