$breakPoint1: 1610px;
$breakPoint2: 1200px;
$breakPoint3: 880px;

.homeDash {
	background-color: white;
	color: black;
}

#snackbar {
	min-width: 300px;
	max-width: 80%;
	min-height: 48px;
	position: fixed;
	bottom: -54px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	border-radius: 8px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	background-color: #333333;
	color: white;
	z-index: 200;
	transition: 0.25s;
	#snackbarMsg {
		margin-left: 16px;
		font-size: 1.1em;
	}
}

#loading {
	display: none;
}

#imageCropContainer {
	display: none;
	max-height: 50vh;
	img {
		display: block;
		max-width: 100%;
	}
}

.container {
	width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	@media (max-width: $breakPoint1) {
		flex-direction: row;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
		padding: 0 30px 30px;
	}
	@media (max-width: $breakPoint2) {
		width: 100%;
	}
}

.card {
	padding: 24px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.4);
}

.actions, .instructions {
	width: 270px;
	position: sticky;
	align-self: flex-start;
	top: 24px;
	order: 1;
	> .card {
		position: relative;
		p:last-of-type {
			margin-bottom: 24px;
		}
	}
	@media (max-width: $breakPoint1) {
		position: inherit;
		width: 48%;
		align-self: auto;
		> .card {
			height: calc(100% - 24px);
		}
	}
	@media (max-width: 700px) {
		width: 100%;
	}
}

.profileImage  {
	width: 100px;
	border-radius: 50%;
	margin: 0 auto 12px auto;
}

.actions {
	.card {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			margin: 8px 0 16px 0;
		}
		.buttons {
			@media (max-width: $breakPoint1) {
				margin-bottom: 24px;
			}
			* {
				display: inline-block;
				margin: 4px 0;
			}
			span:last-of-type {
				margin-bottom: 12px;
			}
		}
	}
	.accountButton {
		text-decoration: none;
		padding: 8px 24px;
		border-radius: 4px;
		border: none;
		background-color: #418499;
		font-size: 1em;
		color: white;
		transition: 0.2s;
		cursor: pointer;
		outline: none;
		&:hover {
			background-color: lighten(#418499, 10%);
		}
	}
}

.instructions {
	order: 3;
	margin-top: 24px;
	@media (max-width: $breakPoint1) {
		order: 2;
		margin-top: 0;
	}
	p {
		margin-top: 8px;
	}
}

.content {
	width: 900px;
	order: 2;
	@media (max-width: $breakPoint1) {
		order: 3;
		width: 100%;
	}
	> div {
		margin-top: 24px;
	}
	.feedback h2 {
		margin-bottom: 12px;
	}
}

div[data-tune="withBorder"], div[data-tune="withBackground"] {
	display: none;
}

.image-tool__image {
	margin-top: 30px;
}