* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

//variables
//for extra-small viewports, use max-width
$xsml: 576px;
//min-width for the following viewports
$sml: 540px;
$med: 720px;
$lrg: 960px;
$xlrg: 1140px;
$gridCol: 12;
$dark: #242323;
$card: #363636;

// mixins
@mixin mediaQuery($arg){
	@media screen and (min-width: $arg){
		@content;
	}
}

@mixin gameArt{
	background: rgb(156,44,199);
	background: linear-gradient(90deg, rgba(156,44,199,1) 15%, rgba(29,48,253,1) 43%, rgba(252,176,69,1) 81%);
}

@mixin webUx{
	background: rgb(44,45,199);
	background: linear-gradient(90deg, rgba(44,45,199,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

@mixin graphic{
	background: rgb(157,226,254);
	background: linear-gradient(225deg, rgba(157,226,254,1) 0%, rgba(255,195,138,1) 57%, rgba(215,65,119,1) 100%);
}

@mixin after{
	display:block;
	content: '';
	border-bottom: solid 0.4rem;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	border-radius: 10px;
}

// @mixin webUxAfter{
// 	display:block;
// 	content: '';
// 	border-bottom: solid 0.4rem #019fb6;
// 	transform: scaleX(0);
// 	transition: transform 250ms ease-in-out;
// 	border-radius: 10px;
// }
//
// @mixin graphicAfter{
// 	display:block;
// 	content: '';
// 	border-bottom: solid 0.4rem #019fb6;
// 	transform: scaleX(0);
// 	transition: transform 250ms ease-in-out;
// 	border-radius: 10px;
// }

@mixin hoverAfter{
	transform: scaleX(1);
}

//grids and media-queries

.container {
	max-width: $xlrg;
	margin: 0 auto;
	&-fluid {
		margin: 0;
		max-width: 100%;
	}
	&-row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

@for $i from 1 through $gridCol {
	.col-#{$i} {
		flex-basis: (100 / ($gridCol / $i) ) * 1%;
	}
}

@media screen and (min-width: $med) {
	@for $i from 1 through $gridCol {
		.colmd-#{$i} {
			flex-basis: (100 / ($gridCol / $i) ) * 1%;
		}
	}
}

@media screen and (min-width: $sml) {
	@for $i from 1 through $gridCol {
		.colsml-#{$i} {
			flex-basis: (100 / ($gridCol / $i) ) * 1%;
		}
	}
}
@media screen and (min-width: $lrg) {
	@for $i from 1 through $gridCol {
		.collrg-#{$i} {
			flex-basis: (100 / ($gridCol / $i) ) * 1%;
		}
	}
}
@media screen and (min-width: $xlrg) {
	@for $i from 1 through $gridCol {
		.colxlrg-#{$i} {
			flex-basis: (100 / ($gridCol / $i) ) * 1%;
		}
	}
}

body{
	background-color: $dark;
}

.landing{
	display: flex;
	align-content: center;
	justify-content: center;
}

.justify-content{
	display: flex;
	justify-content: center;

	@include mediaQuery($med){
		display: block;
	}
}

.era{
	margin-top: 1.3rem;
	font-size: 3rem;
	color: #FEFEFE;

	@include mediaQuery($med){
		display: inline-block;
		font-size: 9rem;
		margin: 1rem;
	}

	@include mediaQuery($lrg){
		display: inline-block;
		font-size: 15rem;
		margin: 1rem;
	}
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 6px;
	text-align: center;
	max-width: 80%;
	background-color: $card;
	margin: 1rem;
	color: #FEFEFE;
	border-radius: 5px;
	display: flex;
	flex: 1 1 auto;
	max-height: 100%;
	&-img{
		height: 7.7rem;
		width: 100%;
		padding: 0.4rem;
		border-radius: 100%;
		overflow-x: none;
	}

	&-content{
		padding-top: 1rem;
		padding-right: 1rem;
	}

	@include mediaQuery($sml){
		max-width: 100%;
	}

	@include mediaQuery($med){
		margin: 4.5rem;
		max-width: 80%;
	}
}

.studentHero{
	display: none;
	text-align: center;
	background-color: purple;

	.portrait{
		display: flex;
		justify-content: center;
		width: 7.7rem;
		height: 8rem;
		padding: 1rem;
		border-radius: 80%;
	}

	.content{
		padding: 1rem;
	}
}

.studentPage{
	display: none;
	background-color: purple;

	.portraitLrg{
		width: 7rem;
		height: 100%;
	}

	.bioLrg{
		color: #FEFEFE;
	}
}

.web{

	margin: 2.5rem;


	&:hover{
		box-shadow:0px 0px 30px red;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

.gameArt{

	margin: 2.5rem;

	&:hover{
		box-shadow:0px 0px 30px blue;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

.graphic{

	margin: 2.5rem;

	&:hover{
		box-shadow:0px 0px 30px green;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

#E::after{
	@include graphic;
	@include after;
}

#E:hover::after{
	@include hoverAfter;
}

#R::after{
	@include webUx;
	@include after;
}

#R:hover::after{
	@include hoverAfter;
}

#A::after{
	@include gameArt;
	@include after;
}

#A:hover::after{
	@include hoverAfter;
}
